[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
[submodule "cf_ws/src/crazyflie-basic"]
	path = cf_ws/src/crazyflie-basic
	url = https://github.com/IN-AIR-KR/crazyflie-basic.git
